.animation-main{
        width: 100%;
        height: 500px;
    
        background-color: #15161e;
    
        display: flex;
        align-items: center;
        justify-content: center;
    
        cursor: pointer;
}

@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

svg {
	font-family: "Rubik", sans-serif;
	width: 100%; height: 100%;
}
svg text {
	animation: stroke 5s infinite alternate;
	stroke-width: 2;
	stroke: #365FA0;
	font-size: 100px;
}
@keyframes stroke {
	0%   {
		fill: rgba(72,138,204,0); stroke: rgba(54,95,160,1);
		stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
        transform: translateX(-100px);
	}
	70%  {fill: rgba(72,138,204,0); stroke: rgba(54,95,160,1); transform: translateX(-50px);}
	80%  {fill: rgba(72,138,204,0); stroke: rgba(54,95,160,1); stroke-width: 3; transform: translateX(0px);}
	100% {
		fill: rgba(72,138,204,1); stroke: rgba(54,95,160,0);
		stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0; transform: translateX(100px);
	}
}

.wrapper{
    width: 100%;
    height: 100px;
}
