.configuration-main {
  width: 100%;
  height: 800px;
  background-color: #15161e;
}

.configuration {
  width: 85%;
  height: 800px;
  margin-left: auto;
}
.configuration h1 {
  font-size: 28px;
  color: white;
  font-family: Proxima Nova, Roboto, sans-serif;
  padding-top: 50px;
}
.configuration .product-ded-main {
  width: 91%;
  height: 130px;
  margin-top: 30px;
}
.configuration .product-broder {
  margin-top: 30px;
  width: 89%;
  height: 130px;
  background-color: #23242b;
  border-radius: 4px;
  border-left: 5px solid red;
  display: flex;
  align-items: center;
}
.configuration .product-broder img {
  width: 50px;
  height: 50px;
  margin: 0px !important;
  padding: 0px !important;
  margin-left: 20px !important;
}
.configuration .product-broder h1 {
  font-size: 25px;
  color: white;
  font-family: Proxima Nova, Roboto, sans-serif;
  margin: 0px !important;
  padding: 0px !important;
  margin-left: 20px !important;
  margin-right: 40px !important;
}
.configuration .product-broder h6 {
  font-size: 20px;
  color: #696969;
  font-family: Proxima Nova, Roboto, sans-serif;
  margin: 0px !important;
  padding: 0px !important;
  margin-left: 50px !important;
  margin-right: 30px !important;
}

.blue-order {
  width: 150px;
  height: 48px;
  background-color: #0096ff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
  border-radius: 4px;
  cursor: pointer;
}
.blue-order .h6 {
  font-size: 18px !important;
  color: white !important;
  font-family: Proxima Nova, Roboto, sans-serif !important;
  font-weight: bold !important;
  margin: 0px !important;
  padding: 0px !important;
}/*# sourceMappingURL=deticatedserver.css.map */