.register-main {
  width: 100%;
  height: 900px;
  background-color: #15161e;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}/*# sourceMappingURL=register.css.map */