.singin-main {
  width: 100%;
  height: 700px;
  background-color: #15161e;
  display: flex;
  align-items: center;
  justify-content: center;
}
.singin-main .login-conteiner {
  width: 536px;
  height: 450px;
  background-color: #23242b;
  border-radius: 5px;
}
.singin-main .login-conteiner h1 {
  font-size: 28px;
  color: white;
  font-family: Proxima Nova, Roboto, sans-serif;
  margin-left: 50px;
  margin-top: 50px;
}
.singin-main .login-conteiner h2 {
  font-size: 17px;
  color: #bbbbc5;
  font-family: Proxima Nova, Roboto, sans-serif;
  margin-top: 10px;
  margin-left: 50px;
}
.singin-main .login-conteiner h3 {
  font-size: 13px;
  color: #bbbbc5;
  font-family: Proxima Nova, Roboto, sans-serif;
  margin-top: 30px;
  margin-left: 50px;
  letter-spacing: 1px;
  font-weight: lighter;
}
.singin-main .login-conteiner input {
  width: 70%;
  height: 30px;
  border: none;
  border-radius: 3px;
  margin-top: 5px;
  margin-left: 50px;
}
.singin-main .login-conteiner .login-div {
  font-size: 20px;
  color: white;
  font-family: Proxima Nova, Roboto, sans-serif;
  margin-top: 40px;
  margin-left: 50px;
}
.singin-main .login-conteiner input[type=text]:focus, .singin-main .login-conteiner input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
.singin-main .login-conteiner .register-div {
  width: 100%;
  height: 50px;
  margin-top: 37px;
  border-top: 1px solid rgba(0, 0, 0, 0.253);
  background-color: #22232a;
  display: flex;
  align-items: center;
}
.singin-main .login-conteiner .register-div p {
  font-size: 13px;
  color: #bbbbc5;
  font-family: Proxima Nova, Roboto, sans-serif;
  margin-left: 50px;
  letter-spacing: 1px;
  font-weight: lighter;
}
.singin-main .login-conteiner .register-div a {
  font-size: 13px;
  color: #0096ff;
  font-family: Proxima Nova, Roboto, sans-serif;
  margin-left: 10px;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: lighter;
}/*# sourceMappingURL=singin.css.map */