.singin-main{
    width: 100%;
    height: 700px;

    background-color: #15161e;

    display: flex;
    align-items: center;
    justify-content: center;

    .login-conteiner{
        width: 536px;
        height: 450px;

        background-color: #23242b;
        border-radius: 5px;
        

        h1{
            font-size: 28px;
            color: #ffff;
            font-family: Proxima Nova,Roboto,sans-serif;
    
            margin-left: 50px;
            margin-top: 50px;
        }

        h2{
            font-size: 17px;
            color: #bbbbc5;
            font-family: Proxima Nova,Roboto,sans-serif;
    
            margin-top: 10px;
            margin-left: 50px;
        }

        h3{
            font-size: 13px;
            color: #bbbbc5;
            font-family: Proxima Nova,Roboto,sans-serif;
    
            margin-top: 30px;
            margin-left: 50px;

            letter-spacing: 1px;

            font-weight: lighter;
        }

        input{
            width: 70%;
            height: 30px;

            border: none;

            border-radius: 3px;

            margin-top: 5px;
            margin-left: 50px;
        }

        .login-div{
            font-size: 20px;
            color: #ffff;
            font-family: Proxima Nova,Roboto,sans-serif;
    
            margin-top: 40px;
            margin-left: 50px;
        }

        input[type=text]:focus, input[type=password]:focus {
            background-color: #ddd;
            outline: none;
          }
          
        .register-div{
            width: 100%;
            height: 50px;

            margin-top: 37px;

            border-top: 1px solid rgba(0, 0, 0, 0.253);
            background-color: #22232a;

            display: flex;
            align-items: center;

            p{
                font-size: 13px;
                color: #bbbbc5;
                font-family: Proxima Nova,Roboto,sans-serif;
        
                margin-left: 50px;
    
                letter-spacing: 1px;
    
                font-weight: lighter;
            }

            a{
                font-size: 13px;
                color: #0096ff;
                font-family: Proxima Nova,Roboto,sans-serif;
        
                margin-left: 10px;

                text-decoration: none;
    
                letter-spacing: 1px;
    
                font-weight: lighter;
            }
        }
    }
}