*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&family=Roboto&family=Titillium+Web&display=swap');


@font-face {
    font-family: Proxima Nova;
    src: url(Fonts/proximanova_regular.ttf);
}
// ნავ ბარის ანონსმეთი

.nav-ads{
    width: 100%;
    height: 44px;
    background-color: #23242b;
}

.nav-ads-border{
    width: 70%;
    height: 44px;

    margin: auto;
    
    display: flex;
    align-items: center;

}

.sale-icon{
    width: 30px;
    height: 30px;
}

.sale-winter{
    font-size: 13px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffff;

    padding: 5px;

    font-weight: bolder;
}

.sale-green{
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #00ff4c;

    font-weight: bolder;
}

.winter-conteiner{
    width: 100%;
    height: 44px;

    display: flex;
    align-items: center;
}


.nav-ads-buttons{
    width: 370px;
    height: 44px;

    display: flex;
    justify-content: space-between;
}
.button-ads{
    width: 140px;
    height: 44px;

    display: flex;
    cursor: pointer;

    align-items: center;
    justify-content: center;
}
.button-ads:hover{
    background-color: #15161e;
}
.button-ads h1{
    font-size: 15px;
    color: #ffff;
    font-weight: lighter;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 4px;
}
.button-ads i{
    font-size: 15px;
    color: #ffff;
}

// ნავ ბარი

.nav{
    width: 100%;
    height: 118px;
    background-color: #15161e;
}

.nav-border{
    width: 70%;
    height: 118px;
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logoimg{
    width: 200px;
    height: 38px;
}

.logo-buttons{
    width: 750px;
    height: 118px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    a{
        color: white;
        font-size: 18px;

        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-decoration: none;

        transition: 0.5s;

    }
    a:hover{
        color: #0096ff;
    }
}

.text-more{
    width: 140px;
    height: 118px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    h1{
        font-size: 18px;
        color: white;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        padding: 3px;

        transition: 0.5s;
    }
    h1:hover{
        color: #0096ff;
    }
    i{
        color: white;
    }
}

.nav-login-border{
    width: 300px;
    height: 118px;


    display: flex;
    align-items: center;
    justify-content: start;
}

.login-div{
    width: 135px;
    height: 48px;

    background-color: #0096ff;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 8px;

    cursor: pointer;

    h1{
        color: white;
        font-size: 15px;
        font-family:  Proxima Nova,Titilium Web,Roboto,Verdana,Arial,Helvetica,sans-serif;
    }
}
.login-div:hover{
    background-color: #3baeff;
}

.billing-div{
    width: 135px;
    height: 48px;

    background-color: #0096ff;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 8px;

    margin-left: 10px;


    cursor: pointer;

    h1{
        color: white;
        font-size: 15px;
        font-family:  Proxima Nova,Titilium Web,Roboto,Verdana,Arial,Helvetica,sans-serif;
    }
}

.billing-div:hover{
    background-color: #3baeff;
}


// დესქრიფშენ სტილები


.description-place{
    width: 100%;
    height: 650px;

    background-color: #15161e;
}

.dest-fift-border{
    width: 100%;
    margin: auto;
    height: 650px;

}

.dayz-bg-sm{
    width: 100%;
    height: 600px;

    background-image: url(Images/dayz-bg.png);
}


.selector-main{
    width: 85%;
    height: 640px;
    
    display: flex;
    flex-wrap: wrap;

    margin-left: auto;
}
.dayz-first-hf{
    width: 100%;
    height: 300px;
    margin-left: auto;


    display: flex;
    flex-direction: column;
    justify-content: center;
    h6{
        font-size: 26px;
        line-height: 36px;
        color: #0096ff;
        padding-bottom: 0.5rem!important;

        font-family: Proxima Nova,Roboto,sans-serif;
        font-weight: 700;
    }

    h5{
        font-size: 36px;
        font-weight: 600;
        line-height: 42px;

        color: #fff;
        font-family: Proxima Nova,Roboto,sans-serif;
        vertical-align: baseline;
    }

    h4{
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 1.5rem!important;

        color: #fff;
        font-weight: 600;
        font-family: Proxima Nova,Roboto,sans-serif;
        vertical-align: baseline;

        margin: 25px 0px 25px 0px;
    }
    
}

.dayz-order{
    width: 140px;
    height: 48px;

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;

    background-color: #0096ff;;

    h1{
        font-size: 15px;
        color: #ffff;
        font-weight: lighter;
        font-family: Proxima Nova,Roboto,sans-serif;
        padding: 4px;
    }
}

.slide-chooselist{
    width: 100%;
    height: 178px;


    display: flex;
}

.ark-choose{
    width: 303px;
    height: 177px;

    background-image: url(Images/home-gsc-ark.png);
    background-size: 303px 177px;
    background-repeat: no-repeat;

    border-radius: 8px;
}

.minecraft-choose{
    width: 303px;
    height: 177px;

    background-image: url(Images/home-gsc-minecraft.png);
    background-size: 303px 177px;
    background-repeat: no-repeat;

    border-radius: 8px;

    margin-left: 20px;
}

.arma-choose{
    width: 303px;
    height: 177px;

    background-image: url(Images/home-gsc-arma.png);
    background-size: 303px 177px;
    background-repeat: no-repeat;

    border-radius: 8px;

    margin-left: 20px;
}

.dayz-choose{
    width: 303px;
    height: 177px;

    background-image: url(Images/home-gsc-dayz.png);
    background-size: 303px 177px;
    background-repeat: no-repeat;

    border-radius: 8px;

    margin-left: 20px;

    cursor: pointer;
}

.choosed{
    border-radius: 8px !important;
    border: 1.5px solid #0096ff;
    box-shadow: 0 0 14px 0 rgba(0,150,255,.33);
}

.black-pogs{
    width: 100%;
    height: 177px;
    background-color: #15161e88;

    cursor: pointer;

    transition: 1.2s;
}
.black-pogs:hover{
    background-color: #15161e00;
}


// სერვერისის კლასები

.service-main{
    width: 100%;
    height: 600px;

    background-color: #15161e;
}


.servrice-text-main{
    width: 85%;
    height: 100px;

    display: flex;
    align-items: center;

    margin-left: auto;

    h1{
        font-size: 28px;
        color: #ffff;
        font-family: Proxima Nova,Roboto,sans-serif;
        padding: 4px;
    }
}

.what-is-it-main{
    width: 85%;
    height: 422px;

    margin-left: auto;
    display: flex;
}

.game-server-hosting{
    width: 418px;
    height: 422px;

    background-color: #23242b;
    border-radius: 6px;

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 0.8s;
}
.game-server-hosting:hover{
    background-color: #2a2b33;
}

.ryzen-vps-hosting{
    width: 418px;
    height: 422px;

    background-color: #23242b;
    border-radius: 6px;   

    margin-left: 25px;

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 0.8s;
}
.ryzen-vps-hosting:hover{
    background-color: #2a2b33;
}

.deticadet-server{
    width: 418px;
    height: 422px;

    background-color: #23242b;
    border-radius: 6px;   

    margin-left: 25px;

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 0.8s;
}
.deticadet-server:hover{
    background-color: #2a2b33;
}


.game-server-place{
    width: 340px;
    height: 330px;


    h1{
        font-size: 28px;
        color: #ffff;
        font-family: Proxima Nova,Roboto,sans-serif;

        margin-top: 15px;
    }

    p{
        color: #bbbbc5;
        font: inherit;
        padding: 0;
        vertical-align: baseline;
        border: 0;
        font-family: Proxima Nova,Roboto,sans-serif;

        margin-top: 10px;
    }

    a{
        text-decoration: none;
        color: #0096ff;
        font-size: 18px;
        font-family: Proxima Nova,Roboto,sans-serif;

        font-weight: bolder;

        margin-top: 20px;
    }
}

.gsh-svg{
    width: 54px;
    height: 54px;
}

ul{
    margin-top: 15px;
    list-style-type:none;

    li{

        i{
            color: #00ff4c;
        }
    
        strong{
            color: #fff;
            font-family: Proxima Nova,Roboto,sans-serif;
            margin-left: 5px;
        }
    
        .wlf{
            color: #bbbbc5;
            font-family: Proxima Nova,Roboto,sans-serif;
        }
    }
}

// გლობალური ოქაციის ცსს

.global-networks-main{
    width: 100%;
    height: 550px;
    background-color: #15161e;

    display: flex;
    align-items: center;
    justify-content: center;
}

.ogn-map-border{
    width: 85%;
    height: 450px;
    margin-left: auto;
    display: flex;
}

.ogn-texts-border{
    width: 400px;
    height: 450px;

    h1{
        font-size: 28px;
        color: #ffff;
        font-family: Proxima Nova,Roboto,sans-serif;

        margin-top: 15px;
    }

    h2{
        font-size: 18px;
        color: #bbbbc5;
        font-family: Proxima Nova,Roboto,sans-serif;

        margin-top: 15px;
    }

    li{
        margin-top: 10px;
    }
    .li-i-icon{
        color: #fff;
    }

    .li-i-country{
        color: #ffff;
        font-family: Proxima Nova,Roboto,sans-serif;
        font-weight: bolder;
    }

    .li-i-OFFLINE{
        padding: 4px;
        color: #ffff;
        background-color: brown;
        font-size: 11px;
        border-radius: 2px;
        font-family: Proxima Nova,Roboto,sans-serif;

        margin-left: 4px;
    }

    .li-i-ONLINE{
        padding: 4px;
        color: #ffff;
        background-color: rgb(81, 165, 42);
        font-size: 11px;
        border-radius: 2px;
        font-family: Proxima Nova,Roboto,sans-serif;

        margin-left: 4px;
    }
}

.ogn-map-place{
    width: 100%;
    height: 450px;

    background-image: url(Images/world-map.svg);

    background-size: 100% 440px;
    background-repeat: no-repeat;
}
@media only screen and (min-width: 800px) {
    .georgia-location{
        width: 24px;
        height: 30px;
        z-index: 5 !important;
    
        position: absolute;
        transform: translateX(710px) translateY(135px);

        display: flex;
    
    }
    
    .frankfurt-location{
        width: 24px;
        height: 30px;
        z-index: 5 !important;
    
        position: absolute;
        transform: translateX(646px) translateY(142px);

        display: flex;
    
    }
  }
  @media screen and (max-width: 1900px) {
    .georgia-location{
        display: none;
        position: none;
    }
    
    .frankfurt-location{
        display: none;
        position: none;
    }
  }


// აქედან იწყება DDOS PORTECTION ადგილი

.ddos-protect-main{
    width: 100%;
    height: 460px;

    background-color: #1e2129;
    
}

.ddos-border{
    width: 85%;
    height: 460px;

    margin-left: auto;

    display: flex;
    align-items: center;
}
.ddos-icon{
    width: 380px;
    height: 380px;
}

.ddos-description{
    width: 100%;
    height: 320px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    h1{
        font-size: 28px;
        color: #ffff;
        font-family: Proxima Nova,Roboto,sans-serif;

        margin-left: 20px;
    }

    h2{
        font-size: 22px;
        color: #0096ff;
        font-family: Proxima Nova,Roboto,sans-serif;

        margin-left: 20px;
        margin-top: 5px;
    }

    h3{
        width: 65%;
        font-size: 15px;
        color: #bbbbc5;
        font-family: Proxima Nova,Roboto,sans-serif;

        margin-left: 20px;
        margin-top: 15px;
    }

    .successfully-statistic-main{
        width: 50%;
        height: 150px;

        border-top: 2px solid rgba(92, 92, 92, 0.301);

        margin-left: 20px;
        margin-top: 35px;

    
        display: flex;
        align-items: center;
        justify-content: space-between;
    
        .attack-successfully-main{
            width: 200px;
            height: 140px;
        
            display: flex;
            flex-direction: column;
    

            justify-content: center;

            h1{
                font-size: 28px;
                color: #ffff;
                font-family: Proxima Nova,Roboto,sans-serif;
        
                margin-left: 20px;
            }

            h2{
                font-size: 15px;
                color: #ffff;
                font-family: Proxima Nova,Roboto,sans-serif;
        
                margin-left: 20px;
                margin-top: 10px;
            }
        }
    }
}

// აქედან იწყება trustpilot და serverive destcription -ი 

.service-description-main{
    width: 100%;
    height: 680px;

    background-color: #15161e;
    
    display: flex;
    align-items: center;
}

.service-border{
    width: 85%;
    height: 680px;

    margin-left: auto;

    display: flex;
    align-items: center;
}

.serivces-main{
    width: 100%;
    height: 600px;

    display: flex;
    flex-wrap: wrap;

    .services-texts-border{
        width: 441px;
        height: 258px;

        margin-top: 30px;
        margin-left: 20px;


        
        h1{
            margin-top: 15px;

            font-size: 22px;
            color: #ffff;
            font-family: Proxima Nova,Roboto,sans-serif;
    
        }

        h2{
            font-size: 16px;
            color: #bbbbc5;
            font-family: Proxima Nova,Roboto,sans-serif;
    
            margin-top: 12px;

            font-weight: normal;

            width: 90%;
        }
    }
}


// აქედან მოდი minecraft ads banner -ი 

.sponsor-ads-place{
    width: 100%;
    height: 400px;

    background-image: url(Images/cta-bot-home.webp);
    background-size: 100% 400px;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
}

.sponsor-text-border{
    width: 85%;
    height: 300px;

    margin-left: auto;

    display: flex;
    flex-direction: column;

    h1{
        margin-top: 15px;

        font-size: 30px;
        color: #ffff;
        font-family: Proxima Nova,Roboto,sans-serif;
    }
}

.footer{
    width: 100%;
    height: 250px;

    background-color: #0e0f14;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h1{
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 15px;
        color: #ffff;
        font-family: Proxima Nova,Roboto,sans-serif;
    }

    h2{
        margin-top: 30px;
        margin-bottom: 15px;
        font-size: 15px;
        font-weight: lighter;
        color: #bbbbc5;
        font-family: Proxima Nova,Roboto,sans-serif;
    }
}