@import url("https://fonts.googleapis.com/css2?family=Nova+Mono&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nova+Mono&family=Roboto&family=Titillium+Web&display=swap");
* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Proxima Nova;
  src: url(Fonts/proximanova_regular.ttf);
}
.nav-ads {
  width: 100%;
  height: 44px;
  background-color: #23242b;
}

.nav-ads-border {
  width: 70%;
  height: 44px;
  margin: auto;
  display: flex;
  align-items: center;
}

.sale-icon {
  width: 30px;
  height: 30px;
}

.sale-winter {
  font-size: 13px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  padding: 5px;
  font-weight: bolder;
}

.sale-green {
  font-size: 14px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #00ff4c;
  font-weight: bolder;
}

.winter-conteiner {
  width: 100%;
  height: 44px;
  display: flex;
  align-items: center;
}

.nav-ads-buttons {
  width: 370px;
  height: 44px;
  display: flex;
  justify-content: space-between;
}

.button-ads {
  width: 140px;
  height: 44px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.button-ads:hover {
  background-color: #15161e;
}

.button-ads h1 {
  font-size: 15px;
  color: white;
  font-weight: lighter;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 4px;
}

.button-ads i {
  font-size: 15px;
  color: white;
}

.nav {
  width: 100%;
  height: 118px;
  background-color: #15161e;
}

.nav-border {
  width: 70%;
  height: 118px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logoimg {
  width: 200px;
  height: 38px;
}

.logo-buttons {
  width: 750px;
  height: 118px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo-buttons a {
  color: white;
  font-size: 18px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  text-decoration: none;
  transition: 0.5s;
}
.logo-buttons a:hover {
  color: #0096ff;
}

.text-more {
  width: 140px;
  height: 118px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.text-more h1 {
  font-size: 18px;
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  padding: 3px;
  transition: 0.5s;
}
.text-more h1:hover {
  color: #0096ff;
}
.text-more i {
  color: white;
}

.nav-login-border {
  width: 300px;
  height: 118px;
  display: flex;
  align-items: center;
  justify-content: start;
}

.login-div {
  width: 135px;
  height: 48px;
  background-color: #0096ff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  cursor: pointer;
}
.login-div h1 {
  color: white;
  font-size: 15px;
  font-family: Proxima Nova, Titilium Web, Roboto, Verdana, Arial, Helvetica, sans-serif;
}

.login-div:hover {
  background-color: #3baeff;
}

.billing-div {
  width: 135px;
  height: 48px;
  background-color: #0096ff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  margin-left: 10px;
  cursor: pointer;
}
.billing-div h1 {
  color: white;
  font-size: 15px;
  font-family: Proxima Nova, Titilium Web, Roboto, Verdana, Arial, Helvetica, sans-serif;
}

.billing-div:hover {
  background-color: #3baeff;
}

.description-place {
  width: 100%;
  height: 650px;
  background-color: #15161e;
}

.dest-fift-border {
  width: 100%;
  margin: auto;
  height: 650px;
}

.dayz-bg-sm {
  width: 100%;
  height: 600px;
  background-image: url(Images/dayz-bg.png);
}

.selector-main {
  width: 85%;
  height: 640px;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
}

.dayz-first-hf {
  width: 100%;
  height: 300px;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.dayz-first-hf h6 {
  font-size: 26px;
  line-height: 36px;
  color: #0096ff;
  padding-bottom: 0.5rem !important;
  font-family: Proxima Nova, Roboto, sans-serif;
  font-weight: 700;
}
.dayz-first-hf h5 {
  font-size: 36px;
  font-weight: 600;
  line-height: 42px;
  color: #fff;
  font-family: Proxima Nova, Roboto, sans-serif;
  vertical-align: baseline;
}
.dayz-first-hf h4 {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 1.5rem !important;
  color: #fff;
  font-weight: 600;
  font-family: Proxima Nova, Roboto, sans-serif;
  vertical-align: baseline;
  margin: 25px 0px 25px 0px;
}

.dayz-order {
  width: 140px;
  height: 48px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background-color: #0096ff;
}
.dayz-order h1 {
  font-size: 15px;
  color: white;
  font-weight: lighter;
  font-family: Proxima Nova, Roboto, sans-serif;
  padding: 4px;
}

.slide-chooselist {
  width: 100%;
  height: 178px;
  display: flex;
}

.ark-choose {
  width: 303px;
  height: 177px;
  background-image: url(Images/home-gsc-ark.png);
  background-size: 303px 177px;
  background-repeat: no-repeat;
  border-radius: 8px;
}

.minecraft-choose {
  width: 303px;
  height: 177px;
  background-image: url(Images/home-gsc-minecraft.png);
  background-size: 303px 177px;
  background-repeat: no-repeat;
  border-radius: 8px;
  margin-left: 20px;
}

.arma-choose {
  width: 303px;
  height: 177px;
  background-image: url(Images/home-gsc-arma.png);
  background-size: 303px 177px;
  background-repeat: no-repeat;
  border-radius: 8px;
  margin-left: 20px;
}

.dayz-choose {
  width: 303px;
  height: 177px;
  background-image: url(Images/home-gsc-dayz.png);
  background-size: 303px 177px;
  background-repeat: no-repeat;
  border-radius: 8px;
  margin-left: 20px;
  cursor: pointer;
}

.choosed {
  border-radius: 8px !important;
  border: 1.5px solid #0096ff;
  box-shadow: 0 0 14px 0 rgba(0, 150, 255, 0.33);
}

.black-pogs {
  width: 100%;
  height: 177px;
  background-color: rgba(21, 22, 30, 0.5333333333);
  cursor: pointer;
  transition: 1.2s;
}

.black-pogs:hover {
  background-color: rgba(21, 22, 30, 0);
}

.service-main {
  width: 100%;
  height: 600px;
  background-color: #15161e;
}

.servrice-text-main {
  width: 85%;
  height: 100px;
  display: flex;
  align-items: center;
  margin-left: auto;
}
.servrice-text-main h1 {
  font-size: 28px;
  color: white;
  font-family: Proxima Nova, Roboto, sans-serif;
  padding: 4px;
}

.what-is-it-main {
  width: 85%;
  height: 422px;
  margin-left: auto;
  display: flex;
}

.game-server-hosting {
  width: 418px;
  height: 422px;
  background-color: #23242b;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.8s;
}

.game-server-hosting:hover {
  background-color: #2a2b33;
}

.ryzen-vps-hosting {
  width: 418px;
  height: 422px;
  background-color: #23242b;
  border-radius: 6px;
  margin-left: 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.8s;
}

.ryzen-vps-hosting:hover {
  background-color: #2a2b33;
}

.deticadet-server {
  width: 418px;
  height: 422px;
  background-color: #23242b;
  border-radius: 6px;
  margin-left: 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.8s;
}

.deticadet-server:hover {
  background-color: #2a2b33;
}

.game-server-place {
  width: 340px;
  height: 330px;
}
.game-server-place h1 {
  font-size: 28px;
  color: white;
  font-family: Proxima Nova, Roboto, sans-serif;
  margin-top: 15px;
}
.game-server-place p {
  color: #bbbbc5;
  font: inherit;
  padding: 0;
  vertical-align: baseline;
  border: 0;
  font-family: Proxima Nova, Roboto, sans-serif;
  margin-top: 10px;
}
.game-server-place a {
  text-decoration: none;
  color: #0096ff;
  font-size: 18px;
  font-family: Proxima Nova, Roboto, sans-serif;
  font-weight: bolder;
  margin-top: 20px;
}

.gsh-svg {
  width: 54px;
  height: 54px;
}

ul {
  margin-top: 15px;
  list-style-type: none;
}
ul li i {
  color: #00ff4c;
}
ul li strong {
  color: #fff;
  font-family: Proxima Nova, Roboto, sans-serif;
  margin-left: 5px;
}
ul li .wlf {
  color: #bbbbc5;
  font-family: Proxima Nova, Roboto, sans-serif;
}

.global-networks-main {
  width: 100%;
  height: 550px;
  background-color: #15161e;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ogn-map-border {
  width: 85%;
  height: 450px;
  margin-left: auto;
  display: flex;
}

.ogn-texts-border {
  width: 400px;
  height: 450px;
}
.ogn-texts-border h1 {
  font-size: 28px;
  color: white;
  font-family: Proxima Nova, Roboto, sans-serif;
  margin-top: 15px;
}
.ogn-texts-border h2 {
  font-size: 18px;
  color: #bbbbc5;
  font-family: Proxima Nova, Roboto, sans-serif;
  margin-top: 15px;
}
.ogn-texts-border li {
  margin-top: 10px;
}
.ogn-texts-border .li-i-icon {
  color: #fff;
}
.ogn-texts-border .li-i-country {
  color: white;
  font-family: Proxima Nova, Roboto, sans-serif;
  font-weight: bolder;
}
.ogn-texts-border .li-i-OFFLINE {
  padding: 4px;
  color: white;
  background-color: brown;
  font-size: 11px;
  border-radius: 2px;
  font-family: Proxima Nova, Roboto, sans-serif;
  margin-left: 4px;
}
.ogn-texts-border .li-i-ONLINE {
  padding: 4px;
  color: white;
  background-color: rgb(81, 165, 42);
  font-size: 11px;
  border-radius: 2px;
  font-family: Proxima Nova, Roboto, sans-serif;
  margin-left: 4px;
}

.ogn-map-place {
  width: 100%;
  height: 450px;
  background-image: url(Images/world-map.svg);
  background-size: 100% 440px;
  background-repeat: no-repeat;
}

@media only screen and (min-width: 800px) {
  .georgia-location {
    width: 24px;
    height: 30px;
    z-index: 5 !important;
    position: absolute;
    transform: translateX(710px) translateY(135px);
    display: flex;
  }
  .frankfurt-location {
    width: 24px;
    height: 30px;
    z-index: 5 !important;
    position: absolute;
    transform: translateX(646px) translateY(142px);
    display: flex;
  }
}
@media screen and (max-width: 1900px) {
  .georgia-location {
    display: none;
    position: none;
  }
  .frankfurt-location {
    display: none;
    position: none;
  }
}
.ddos-protect-main {
  width: 100%;
  height: 460px;
  background-color: #1e2129;
}

.ddos-border {
  width: 85%;
  height: 460px;
  margin-left: auto;
  display: flex;
  align-items: center;
}

.ddos-icon {
  width: 380px;
  height: 380px;
}

.ddos-description {
  width: 100%;
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.ddos-description h1 {
  font-size: 28px;
  color: white;
  font-family: Proxima Nova, Roboto, sans-serif;
  margin-left: 20px;
}
.ddos-description h2 {
  font-size: 22px;
  color: #0096ff;
  font-family: Proxima Nova, Roboto, sans-serif;
  margin-left: 20px;
  margin-top: 5px;
}
.ddos-description h3 {
  width: 65%;
  font-size: 15px;
  color: #bbbbc5;
  font-family: Proxima Nova, Roboto, sans-serif;
  margin-left: 20px;
  margin-top: 15px;
}
.ddos-description .successfully-statistic-main {
  width: 50%;
  height: 150px;
  border-top: 2px solid rgba(92, 92, 92, 0.301);
  margin-left: 20px;
  margin-top: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ddos-description .successfully-statistic-main .attack-successfully-main {
  width: 200px;
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.ddos-description .successfully-statistic-main .attack-successfully-main h1 {
  font-size: 28px;
  color: white;
  font-family: Proxima Nova, Roboto, sans-serif;
  margin-left: 20px;
}
.ddos-description .successfully-statistic-main .attack-successfully-main h2 {
  font-size: 15px;
  color: white;
  font-family: Proxima Nova, Roboto, sans-serif;
  margin-left: 20px;
  margin-top: 10px;
}

.service-description-main {
  width: 100%;
  height: 680px;
  background-color: #15161e;
  display: flex;
  align-items: center;
}

.service-border {
  width: 85%;
  height: 680px;
  margin-left: auto;
  display: flex;
  align-items: center;
}

.serivces-main {
  width: 100%;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
}
.serivces-main .services-texts-border {
  width: 441px;
  height: 258px;
  margin-top: 30px;
  margin-left: 20px;
}
.serivces-main .services-texts-border h1 {
  margin-top: 15px;
  font-size: 22px;
  color: white;
  font-family: Proxima Nova, Roboto, sans-serif;
}
.serivces-main .services-texts-border h2 {
  font-size: 16px;
  color: #bbbbc5;
  font-family: Proxima Nova, Roboto, sans-serif;
  margin-top: 12px;
  font-weight: normal;
  width: 90%;
}

.sponsor-ads-place {
  width: 100%;
  height: 400px;
  background-image: url(Images/cta-bot-home.webp);
  background-size: 100% 400px;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

.sponsor-text-border {
  width: 85%;
  height: 300px;
  margin-left: auto;
  display: flex;
  flex-direction: column;
}
.sponsor-text-border h1 {
  margin-top: 15px;
  font-size: 30px;
  color: white;
  font-family: Proxima Nova, Roboto, sans-serif;
}

.footer {
  width: 100%;
  height: 250px;
  background-color: #0e0f14;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.footer h1 {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 15px;
  color: white;
  font-family: Proxima Nova, Roboto, sans-serif;
}
.footer h2 {
  margin-top: 30px;
  margin-bottom: 15px;
  font-size: 15px;
  font-weight: lighter;
  color: #bbbbc5;
  font-family: Proxima Nova, Roboto, sans-serif;
}/*# sourceMappingURL=style.css.map */