*{
    margin: 0;
    padding: 0;
}
.teamspeak-main{
    width: 100%;
    height: 350px;

    background-color: #15161e;

    display: flex;
}

.teamspeak-border{
    width: 85%;
    height: 200px;

    margin-left: auto;
}

.teamspeak-image{
    width: 81%;
    height: 320px;

    background-image: url(Images/bg-voice-server.webp);
    background-size: 100% 320px;
    background-repeat: no-repeat;

    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    h1{
        font-size: 28px;
        color: #ffff;
        font-family: Proxima Nova,Roboto,sans-serif;

        margin-left: 50px;
    }

    h2{
        font-size: 15px;
        color: #ffff;
        font-family: Proxima Nova,Roboto,sans-serif;

        margin-left: 50px;
        margin-top: 10px;
    }
}

.teamspeak-price-main{
    width: 100%;
    height: 350px;
    background-color: #15161e;

    display: flex;
    justify-content: end;
    align-items: end;
}
.price-main{
    width: 345px;
    height: 460px;

    background-color: #23242b;

    margin-right: 400px;

    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;

    h6{
        font-size: 15px;
        color: #0096ff;
        font-family: Proxima Nova,Roboto,sans-serif;

        margin-top: 40px;
    }

    h5{
        font-size: 28px;
        color: #ffffff;
        font-family: Proxima Nova,Roboto,sans-serif;

        margin-top: 20px;
    }
    h4{
        font-size: 24px;
        color: #ffffff;
        font-family: Proxima Nova,Roboto,sans-serif;

        margin-top: 2px;
        padding-bottom: 20px;
    }
    
    h3{
        font-size: 17px;
        color: #bbbbc5;
        font-family: Proxima Nova,Roboto,sans-serif;

        margin-top: 10px;
    }
    
}

.country-selector{
    width: 80%;
    height: 50px;

    border: 0.5px solid gainsboro;
    border-radius: 5px;

    margin-top: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.frankfurt-price{
    width: 100%;
    height: 35px;

    display: flex;
    align-items: center;

    cursor: pointer;


    img{
        width: 40px;
        height: 35px;

        margin-left: 10px;
    }

    h6{
        font-size: 15px;
        color: #fff;
        font-family: Proxima Nova,Roboto,sans-serif;

        margin-top: 0px !important;
        margin-left: 3px !important;
    }

    i{
        color: #fff;
        margin-left: auto;
        margin-right: 25px;

        font-size: 15px;
    }
}

.georgia-price{
    width: 100%;
    height: 35px;

    display: flex;
    align-items: center;

    cursor: pointer;


    img{
        width: 40px;
        height: 35px;

        margin-left: 10px;
    }

    h6{
        font-size: 15px;
        color: #fff;
        font-family: Proxima Nova,Roboto,sans-serif;

        margin-top: 0px !important;
        margin-left: 3px !important;
    }

    i{
        color: #fff;
        margin-left: auto;
        margin-right: 25px;

        font-size: 15px;
    }
}

.order-price{
    width: 80%;
    height: 50px;

    border-radius: 4px;
    margin-top: 10px;


    background-color: #0096ff;
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    h6{
        font-size: 15px;
        color: #fff;
        font-family: Proxima Nova,Roboto,sans-serif;

        margin-top: 0px !important;
        margin-left: 3px !important;
    }
}


// aqedan iswyeba team support

.teamspeak-support-main{
    width: 100%;
    height: 450px;

    background-color: #15161e;

    display: flex;
    align-items: center;
    justify-content: center;
}

.teamspeak-support{
    width: 85%;
    height: 250px;

    margin-left: auto;
}

.teamspeak-conteiner{
    width: 90%;
    height: 300px;

    background-image: url(Images/why-teamspeak.webp);
    background-size: 90% 300px;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;

    h1{
        font-size: 24px;
        color: #ffff;
        font-family: Proxima Nova,Roboto,sans-serif;

        margin-left: 50px;
        margin-top: 30px;
    }

    h2{
        font-size: 16px;
        color: #bbbbc5;
        font-family: Proxima Nova,Roboto,sans-serif;

        margin-left: 50px;
        margin-top: 10px;

        width: 75%;
    }


}