*{
    margin: 0;
    padding: 0;
}
.teamspeak-main{
    width: 100%;
    height: 350px;

    background-color: #15161e;

    display: flex;
}

.teamspeak-border{
    width: 85%;
    height: 200px;

    margin-left: auto;
}

.teamspeak-image{
    width: 81%;
    height: 320px;

    background-image: url(Images/bg-hosting.webp);
    background-size: 100% 320px;
    background-repeat: no-repeat;

    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    h1{
        font-size: 28px;
        color: #ffff;
        font-family: Proxima Nova,Roboto,sans-serif;

        margin-left: 50px;
    }

    h2{
        font-size: 15px;
        color: #ffff;
        font-family: Proxima Nova,Roboto,sans-serif;

        margin-left: 50px;
        margin-top: 10px;
    }
}

// aqedan iwyeba plan main

.plan-main{
    width: 100%;
    height: 1000px;

    background-color: #15161e;
}

.plan{
    width: 85%;
    height: 1000px;
    margin-left: auto;

    h1{
        font-size: 28px;
        color: #ffff;
        font-family: Proxima Nova,Roboto,sans-serif;

        margin-bottom: 50px;
    }

    .product-main{
        width: 81%;
        height: 880px;

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .product-conteiner{
            width: 311px;
            height: 415px;

            background-color: #23242b;

            border-radius: 4px;

            display: flex;
            flex-direction: column;

            img{
                width: 100%;
                height: 40px;
            }

            h6{
                font-size: 24px;
                color: #ffff;
                font-family: Proxima Nova,Roboto,sans-serif;
        
                margin-top: 10px;
                margin-left: 25px;
            }

            
            i{
                font-size: 13px;
                font-weight: bold;
                color: #00ff00;
        
                margin-top: 10px;
                margin-left: 25px;
            }

            h4{
                font-size: 16px;
                color: #6e6e6e;
                font-family: Proxima Nova,Roboto,sans-serif;
        
                text-decoration: line-through;
                margin-left: 25px;
            }
            
            .gray-order{
                width: 236px;
                height: 48px;

                margin: auto;

                display: flex;
                align-items: center;
                justify-content: center;

                background-color: #bbbbc5;
                border-radius: 6px;

                transition: 0.4s;

                cursor: pointer;
                h1{
                    font-size: 24px;
                    color: #ffff;
                    font-family: Proxima Nova,Roboto,sans-serif;
                    margin: 0 !important;
                    padding: 0 !important;
                }
            }
            .gray-order:hover{
               background-color: #0096ff;
            }
        }
    }
}

.answer-i{
    font-size: 13px !important;
    font-weight: bold;
    color: #bbbbc5 !important;
    font-family: Proxima Nova,Roboto,sans-serif;

    margin-top: 10px;
    margin-left: 5px !important;
}
.answer-ia{
    font-size: 13px !important;
    font-weight: bold;
    color: #bbbbc5 !important;
    font-family: Proxima Nova,Roboto,sans-serif;

    margin-top: 4px;
    margin-left: 5px !important;
}